@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: lightgrey;
    height: calc(100vh - 60px);
    /* 100vh moins les 60px du footer */
}

.clr {
    clear: both;
}

#main_footer {
    background-color: hsl(0, 0%, 41%);
    color: #fff;
    font-weight: bold;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: #262626;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
}

header .logo {
    float: left;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo img {
    display: block;
    border-radius: 50%;
    height: 45px;
}

header nav {
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
    position: relative;
}

header nav ul li.sub-menu:before {
    content: '\f107';
    font-family: fontAwesome;
    position: absolute;
    line-height: 50px;
    color: #fff;
    /*LOL*/
}

li::before {
    position: absolute;
    top: 0;
    right: 17px;
}

header nav ul li.active.sub-menu:before {
    content: '\f106';
}

header nav ul li ul {
    position: absolute;
    left: 0;
    background-color: #333;
    display: none;
}

header nav ul li.active ul {
    /* NATANGAKI*/
    display: block;
}

header nav ul li ul li {
    display: block;
    width: 200px;
}

header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;
    transition: background 0.5s ease-out, opacity 0.1s ease-out;
}

header nav ul li.current {
    color: #fff;
    background: #2196f3;
}

header nav ul li a:hover,
header nav ul li a.active {
    color: #fff;
    background: #2196f3;
}

.ctg-menu {
    width: 139px;
}

.menu-toggle {
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

/* #region Section video*/
#debut {
    height: 100%;
}

#debut video {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* #endregion Section video*/

#debut .contenaire {
    max-width: 1200px;
    margin: auto;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.logoSCA {
    width: 40%;
    opacity: 0.5;
}

.logoSCA img {
    border-radius: 50%;
}

#debut h1 {
    font-size: 3em;
    width: 100%;
    color: #fff;
    margin: 0px;
    text-align: center;
}

@media (max-width: 991px) {
    header {
        padding: 0 20px;
        overflow-x: hidden;
    }

    .menu-toggle {
        display: block;

        position: fixed;
        z-index: 10;
        top: 0px;
        right: 20px;
        height: 50px;
        width: 35px;
        /* border-radius: 50%; */
        border: none;
        outline: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        /* Création des lignes ensuite*/
    }

    /* #region line*/

    .line {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        /* La ligne est crée épaisseur 2px*/
        background: #f1f1f1;

        /* Effet transition*/
        transition: transform 0.3s ease-out, opacity 0.1s ease-out;
    }

    .l1 {
        /* Ligne du haut*/
        transform: translateY(-10px);
    }

    .l3 {
        /* Ligne du bas*/
        transform: translateY(10px);
    }

    /* #endregion line*/

    /* #region Classe active Quand on click dessus*/

    /* Active = Au click*/

    .l1.active {
        transform: translateY(0px) rotate(135deg);
        /* Au click, il revient au début (0px) mais avec une rotation de (135deg)*/
    }

    .l2.active {
        opacity: 0;
    }

    .l3.active {
        transform: translateY(0px) rotate(-135deg);
        /* Au click, il revient au début (0px) mais avec une rotation de (-135deg)*/
    }

    /* #endregion Classe active Quand on click dessus*/

    nav {
        position: fixed;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        right: 0;
        transform: translateX(100%);
        transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
    }

    nav.active {
        transform: translate(0);
    }

    header nav ul {
        display: block;
        /*Issou*/
        text-align: center;
    }

    header nav ul a {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }

    header nav ul li.active ul {
        position: relative;
        background: #003e6f;
    }

    header .ctg-menu {
        width: 100%;
    }

    header nav ul li ul li {
        width: 100%
    }
}