/* inscription /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#formulaire {
    height: 94vh;
    background: linear-gradient(15deg, #8b8b8b 15%, #d3d3d3 35%, #fff 100%);
}

.cont-form {
    height: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* contact */
.contact {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.6em;
    /* box-shadow: 10px 10px 10px burlywood; */
}

.contact ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}

.contact ul li {
    list-style: none;

}

.link-cont {
    display: flex;
    justify-content: space-around;
}

/* resservation */
.reservation {
    height: 50%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;


}

.group-form {

    width: 40%;
    height: 100%;

    padding: 10px;
    color: white;
    background: linear-gradient(15deg, #473c2cc1 15%, #d09962bc 35%, #fde7abb3 100%);
    opacity: 1;
    /* box-shadow: 10px 10px 10px burlywood; */

}

.group-form h3 {
    text-align: center;

}

.agence {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}

.date-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.date,
.time,
.label,
.age-code {
    display: flex;
    justify-content: space-around;
}

.date input,
.time input,
.age-code select,
.age-code input {
    width: 40%;
    margin-bottom: 20px;
}

.agence-img {
    width: 40%;
    height: 100%;
    box-shadow: 10px 10px 10px burlywood;

}

.agence-img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

input[type=button] {
    display: block;
    width: 150px;
    margin: 30px auto;
    height: 30px;
    border-color: #ffd700;

}

input[type=button]:hover {
    color: rgb(208, 177, 0);

}

/* Prossedur */
.prossedur {
    height: 20%;
    width: 100%;

    padding: 10px;
}

.prossedur h1 {
    margin-bottom: 20px;
}

@media (max-width: 810px) {

    .toggle {
        display: flex;
    }

    #header_desktop .navbar_liens_desktop {
        display: none;
    }

    #navbar-mobile .current {
        color: rgb(210, 0, 0);
        background-color: #c4002e00;
    }

    #header_mobile a:hover {
        color: #c4002e;
    }

    #header_mobile a {
        font-size: 40px;
    }

    /* .contenaire de la page d'accuil */
    #debut .contenaire {
        flex-direction: column;
        justify-content: space-around;
    }

    .logoSCA {
        width: auto;
        height: 40%;
    }

    /* inscription */
    #formulaire {
        height: 1500px;
    }

    #formulaire .reservation {
        flex-direction: column-reverse;


    }

    .reservation .group-form,
    .reservation .agence-img {
        width: 80%;
        margin: 20px auto;


    }

    .contact {
        font-size: 1.4em;
    }

    .prossedur h1 {
        text-align: center;

    }

    .prossedur {
        padding: 20px;
    }

    .prossedur p {
        font: 16px;
    }
}