@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: lightgrey;
    font-family: 'Raleway', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

a {
    color: hsl(0, 0%, 41%);
}

a:hover {
    color: #c4151c;
}

span {
    color: #c4151c;
}

video {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 94vh;
    object-fit: cover;
}

#main_footer {
    background-color: hsl(0, 0%, 41%);
    color: #fff;
    font-weight: bold;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* DESKTOP /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#header_desktop .navbar {
    overflow: hidden;
    background-color: hsl(0, 0%, 98%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#header_desktop .navbar img {
    display: block;
    float: left;
    width: 50px;
}

#header_desktop .navbar .logo {
    margin: 10px 40px 10px 20px;
}

#header_desktop .navbar .right {
    float: right;
}

#header_desktop .navbar h1 {
    float: left;
    font-size: 35px;
}

#header_desktop .navbar a {
    float: left;
    /* IMPORTANT*/
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
}

#header_desktop .dropdown1 {
    float: left;
    overflow: hidden;
}

#header_desktop .dropdown1 .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: hsl(0, 0%, 41%);
    /* padding: 20px; */
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

#header_desktop .dropdown1-content {
    display: none;
    position: absolute;
    /* IMPORTANT*/
    background-color: hsl(0, 0%, 98%);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    /* border-radius: 15px; */
}

#header_desktop .dropdown1-content a {
    float: none;
    /* IMPORTANT*/
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    /* IMPORTANT*/
    text-align: center;
}

#header_desktop .dropdown1-content a:hover {
    background-color: lightgrey;
    /* border-radius: 15px; */
}

#header_desktop .dropdown1-content img {
    margin-right: 15px;
}

#header_desktop .dropdown1:hover .dropdown1-content {
    display: block;
    /* IMPORTANT*/
    z-index: 5;
}

#header_desktop .current {
    color: #fff;
    background-color: #c4151c;
}

#mobile_categories {
    display: none;
}

/* NAVBAR MOBILE /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#navbar-mobile {
    position: fixed;
    z-index: 3;
    background-color: #444444c2;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translateY(-200%);
    transition: 2s;
}

#navbar-mobile li {
    display: flex;
    list-style: none;
    padding: 20px 0;
}

#navbar-mobile a {
    text-decoration: none;
    color: #fff;

}

#navbar-mobile h1 {
    font-size: 3em;
}

#navbar-mobile li a {
    font-size: 20px;
}

.toggle {
    position: relative;
    display: none;
    z-index: 5;
    font-size: 2em;

}

.toggle .close {
    display: none;
}

.opening .open {
    display: none;
}

.opening .close {
    display: flex;
}

.opening #navbar-mobile {
    transform: translateY(0);
    transition: 2s;
}

@media (max-width: 810px) {

    .toggle {
        display: flex;
    }

    #header_desktop .navbar_liens_desktop {
        display: none;
    }

    #navbar-mobile .current {
        color: rgb(210, 0, 0);
        background-color: #c4002e00;
    }

    #header_mobile a:hover {
        color: #c4002e;
    }

    #header_mobile a {
        font-size: 40px;
    }

    /* .contenaire de la page d'accuil */
    #debut .contenaire {
        flex-direction: column;
        justify-content: space-around;
    }

    .logoSCA {
        width: auto;
        height: 40%;
    }
}

/* SECTION CARD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
#card {
    height: 100%;
    width: 100%;
    /* display: flex; */
    /* border: 1px solid greenyellow; */
}

#card_mobile {
    display: none;
}


#categories {
    /* Grille de mise en page */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    /* Mise en forme */
    width: 1200px;
    height: 100px;
    /* border: #c4002e 2px solid; */

    /* background-color: #eee; */
    /* padding: 20px; */
    text-align: center;
    border-radius: 15px;
    margin: 100px auto;
}

#categories div {
    margin: 0;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 15px;
}

.citadine,
.famillile,
.sportive,
.luxe {
    height: 353px;
}

.citadine,
.famillile,
.sportive,
.luxe,
.cabriolet,
.suv,
.crossover,
.utilitaire {
    padding: 15px;
}

#categories h3 {
    padding: 10px;
}

#categories .voiture {
    width: 100%;
    height: 53%;
    /* border: 1px solid red; */
    box-shadow: 0 0 3px #c4002e;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 15px;
}

#categories .categorie_nom {
    color: #000;
    background-color: #fff;
    border: 1px solid #c4151c;
    font-size: 25px;
}

#categories a {
    text-decoration: none;
    padding: 16px 20px;
    text-align: center;
    /* margin: 20px; */
    background-color: #c4151c;
    color: #fff;
    border-radius: 10px;
    display: block;
    font-weight: bold;
}

/* logo qui apparesse */
.citadine,
.famillile,
.sportive,
.luxe,
.cabriolet,
.suv,
.crossover,
.utilitaire {
    position: relative;
}

#categories div.duo {
    background-color: rgb(0, 0, 0, 0);
    border: none;
}

.duo {
    display: flex;
    position: absolute;
    opacity: 0;
    width: 90%;
    height: 50%;
    top: 95px;
    border: none;
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0);
}

.duo img {
    width: 50%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0);      */
}

.duo:hover {
    opacity: 1;
    transition: 2s;
}

/* VERSION_MOBILE ////////////////////////////////////////////////////////////////////////////*/

@media (max-width: 810px) {
    .toggle {
        display: flex;
    }

    #header_desktop .navbar_liens_desktop {
        display: none;
    }

    #navbar-mobile .current {
        color: rgb(210, 0, 0);
        background-color: #c4002e00;
    }

    #header_mobile a:hover {
        color: #c4002e;
    }

    #header_mobile a {
        font-size: 40px;
    }

    /* .contenaire de la page d'accuil */
    #debut .contenaire {
        flex-direction: column;
        justify-content: space-around;
    }

    .logoSCA {
        width: auto;
        height: 40%;
    }

    /* categorie */
    /* #card {
        display: none;
    }

    #card_mobile {
        display: block;
        position: relative;
        height: auto;
    }

    #categories_mobile {
        width: 100%;
        height: auto;
        border: 1px solid red;
        display: block;
    }

    .car_mobile {
        width: 350px;
        height: 360px;
        border: 1px solid rgb(0, 0, 0);
        margin: 0 auto;
        margin-top: 20px;
        padding: 15px;
        border-radius: 10px;
        background-color: #fff;
    }

    .car_mobile h3 {
        text-align: center;
        border: 1px solid red;
        border-radius: 10px;
        margin-bottom: 15px;
        padding: 16px 20px;
        font-size: 25px;
        width: 100%;
    }

    .car_mobile img {
        display: block;
        width: 100%;
        border-radius: 10px;
    }

    .car_mobile a {
        display: block;
        padding: 16px 20px;
        text-align: center;
        text-decoration: none;
        background-color: #c4151c;
        color: aliceblue;
        font-weight: bold;
        margin-top: 15px;
        border-radius: 10px;
    }  */
}